<div class = "formContainer">
<%= form_for @recipe, data: { confirm: "Are you done?"} do |f| %>

  <div class="formDiv">
    <%= f.label :title, class: "formTextLabel" %>
    <%= f.text_field :title, class: "formTextInput" %>
  </div>

  <div class="formDiv">
    <%= f.label "Image Link", class: "formTextLabel" %>
    <%= f.text_field :img_url, class: "formTextInput" %>
  </div>

  <div class="formDiv">
    <%= f.label :description, class: "formTextLabel" %>
    <%= f.text_area :description, class: "formTextInput" %>
  </div>

  <div class="formDiv">
    <%= f.label "Cooking Time", class: "formTextLabel" %>
    <%= f.text_field :cooking_time, class: "formTextInput"  %>
  </div>

  <div class="formDiv">
    <%= f.label "Cooking Level", class: "formTextLabel" %>
    <%= f.label "Beginner", class: "radioButtonLevelLabel"  %>
    <%= f.radio_button :cooking_level, 1 %>
    <%= f.label "Easy", class: "radioButtonLevelLabel"  %>
    <%= f.radio_button :cooking_level, 2 %>
    <%= f.label "Moderate", class: "radioButtonLevelLabel"  %>
    <%= f.radio_button :cooking_level, 3 %>
    <%= f.label "Hard", class: "radioButtonLevelLabel"  %>
    <%= f.radio_button :cooking_level, 4 %>
    <%= f.label "Challenging", class: "radioButtonLevelLabel"  %>
    <%= f.radio_button :cooking_level, 5 %>
  </div>

  <% if current_page? new_recipe_path  %>
  <div class="formDiv">
    <%= f.label "Tag", class: "formTextLabel" %>
  </div>
      <div class="formDiv">
        <%= f.fields_for :categorizations do |categorization| %>
          <%= categorization.select :category_id, @categories.collect { |p| [ "#{p.food_catagory}", p.id ] }, include_blank: true %>
        <% end %>
      </div>
  <% end %>






<!-- 
  <div class="formDiv">
    <%= f.label "Tag", class: "formTextLabel" %>
  </div>
      <div class="formDiv">
        <% @categories.each do |category| %>
        <%= link_to image_tag(category.img_url, class: "categoryImageTag") %>
        <% end %>
      </div>


 -->






  <div class="formDiv">
    <%= f.label "Allows Reviews", class: "formTextLabel"  %>
    <%= f.label "Yes", class: "radioButtonLabel"  %>
    <%= f.radio_button :allow_reviews, "true" %>
    <%= f.label "No", class: "radioButtonLabel"  %>
    <%= f.radio_button :allow_reviews, "false" %>
  </div>



    <div class="formDiv">
      <%= f.label "Ingredients(w/o order number)", class: "formTextLabel" %>
    </div>
    <input id="ingredientFormCheckBox" type="checkbox" checked="checked">Hide<label for="ingredientFormCheckBox">
        <%= f.fields_for :ingredients do |ingredient| %>
            <div class="formDiv">
              <%= ingredient.text_field :list, class: "formTextInput" %>
            </div>
        <% end %>
    </label>



  <div class="formDiv">
    <%= f.label "Directions(w/o order number)", class: "formTextLabel" %>
  </div>
  <input id="DirectionFormCheckBox" type="checkbox" checked="checked">Hide<label for="DirectionFormCheckBox">
      <%= f.fields_for :directions do |direction| %>
          <div class="formDiv">
            <%= direction.text_area :recipe_direction, class: "formTextInput" %>
          </div>
      <% end %>
      </label>




  <div class="formDiv">
    <%= f.submit "Save", class: "submitButton" %>
  </div>


<% end  %>
</div>
