<h1 class="recipesIndexTitle"><%= @recipe.title  %></h1>
  <% if @recipe.created_at != @recipe.updated_at %>
  <h2 class="userNameText"> by <%= @recipe.user.email %> </h2>
  <p class="timeText">Updated: <%= @recipe.updated_at.strftime("%b %e, %l:%M %p") %> </p>
  <% else %>
    <h2> by <%= @recipe.user.email %> </h2>
    <p class="timeText">Created: <%= @recipe.created_at.strftime("%b %e, %l:%M %p") %></p>
  <% end %>

  <% if current_user == @recipe.user %>
      <div>
      <%= link_to "Edit Post |", edit_recipe_path(@recipe), class: "recipeEditDelete" %>
      <%= link_to "| Delete Post", recipe_path(@recipe), class: "recipeEditDelete", method: :delete, data: { confirm: "Would you like to delete this recipe?"} %>
      </div>
  <% end %>

<div class = "recipeContainer">


      <img class="recipePhoto" src="<%= @recipe.img_url %>" alt="<%= @recipe.title %>"/>



    <div class="recipeDiv">
      <div class="recipeDescription">
          <% @recipe.categorizations.each do |categorization| %>
          <div class="categoryImageMini">
            <%= link_to image_tag(categorization.category.img_url, class: "categoryImageMiniMini"), category_recipes_path(categorization.category) %>
          </div>
          <% end %>
      </div>
      <hr>
      <div class="recipeDescription">
        <p class="description">"<%= @recipe.description %>"</p>
      </div>
      <hr>
      <div class="recipeRatingDiv">
          <div>
            <div class="recipeDescriptionMini">
              Save it!
            </div>

            <div class="recipeDescriptionMini">
              <% if @recipe.will_try_users.find_by(user: current_user, recipe_id: @recipe.id) %>
                <%= link_to "&hearts;".html_safe, remove_will_try_user_recipe_path(@recipe), method: :delete, class: "tryButtonOn" %>
              <% else %>
                <%= link_to "&hearts;".html_safe, add_will_try_user_recipe_path(@recipe), method: :post, class: "tryButtonOff" %>
              <% end %>
              <%#= @recipe.will_try_users.count %>
            </div>
          </div>

          <div>
              <div class="recipeDescriptionMini">
                I did it!
              </div>

              <div class="recipeDescriptionMini">
                <% if @recipe.did_try_users.find_by(user: current_user, recipe_id: @recipe.id) %>
                  <%= link_to "&hearts;".html_safe, remove_did_try_user_recipe_path(@recipe), method: :delete, class: "tryButtonOn" %>
                <% else %>
                  <%= link_to "&hearts;".html_safe, add_did_try_user_recipe_path(@recipe), method: :post, class: "tryButtonOff" %>
                <% end %>
                <%#= @recipe.did_try_users.count %>
              </div>
            </div>

            <div>
                <div class="recipeDescriptionMini">
                  Level
                </div>
                <div class="recipeDescriptionMini">
                  <p class="cookingLevelText"><%=@recipe.cooking_level %></p>
                </div>

            </div>
      </div>








    </div>




    <h2 class="ingredientHead"> Ingredients<hr/></h2>
    <div class="ingredientsContainer">
          <% @ingredients.each do |ingredient| %>
            <% if ingredient.list != "" %>
              <div class="list"> <input id="ingredientCheckBox" type="checkbox"><label for="ingredientCheckBox"><%= ingredient.list %></label></div>
            <% end %>
          <%end%>
    </div>

    <h2 class="ingredientHead">Directions (time:<%= @recipe.cooking_time %>)<hr/></h2>
      <div class="directionsContainer">

        <% @directions.each do |direction| %>
        <div class="directionsDiv">
          <% if direction.recipe_direction != "" %>
          <div class="number"><%= @num += 1  %>.</div>
          <div class="directionList"><input id="directionCheckBox" type="checkbox"><label for="directionCheckBox"><%= direction.recipe_direction %></label></div>
          <% end %>
        </div>
        <% end %>
    </div>













  <div class='comments'>
  <h3>Comments</h3>
  <%= link_to "Add New Review", new_recipe_review_path(@recipe) %>
  <% @recipe.reviews.each do |review| %>
    <div>
      <time>Updated <%= review.strftime("%b %e, %l:%M %p") %></time>
      <p>
	<%= review.comment %>, 	<%= review.user.email %>
      </p>
  <% if current_user == @recipe.user %>
      <%= link_to "Edit", edit_recipe_review_path(@recipe, review) %>|
      <%= link_to "Delete", recipe_review_path(@recipe, review), method: :delete, data: { confirm: "Would you like to delete this review?"} %>
  <% end %>

    </div>
  <% end %>
  </div>




</div>
