<!DOCTYPE html>
<html>
  <head>
    <title>Cookingmyself</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <% if current_page? root_path  %>
            <div class="logoWrapper">
              <%= link_to image_tag("logo.png", class: "logo"),root_path%>
            </div>
        <% end %>

      <nav class="mainNav">

        <% if current_page? root_path  %>
        <div class="mainNavMenu"><%= link_to 'List All Recipes', root_path %></div>
        <% else %>
        <div class="mainNavMenu"><%= link_to 'Main', root_path %></div>
        <% end %>
        <div class="mainNavMenu"><%= link_to 'Create Recipes', new_recipe_path %></div>

        <% unless current_page?(root_path)  %>
          <div class="logoNavMenu"><%= link_to image_tag("logo.png", class: "logoNav"),root_path%></div>
        <% end %>

          <% if current_user %>
            <div class="mainNavMenu"><%= link_to 'User Account', destroy_user_session_path, :method => :delete %></div>
            <div class="mainNavMenu"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, data: { confirm: "Would you like to sign out?"} %></div>
          <% else %>
            <div class="mainNavMenu"><%= link_to 'Sign In', new_user_session_path %></div>
            <div class="mainNavMenu"><%= link_to 'Add Account', new_user_registration_path %></div>
          <% end %>

      </nav>



      <% flash.each do |type, message| %>
        <p class="flash <%= type %>"><%= message %></p>
      <% end %>

      <div class ="mainBody">
        <%= yield %>
      </div>
  </body>
</html>
